*.DS_Store
*~
*.pyc
*.make
*.out
*.aux
*.fls
*.d
*.bbl
*.blg
*.fdb_latexmk
*.log
*.synctex.gz
*.ipynb_checkpoints
*.class
*.classpath
*.project
*.pydevproject
*.prefs
*error_log.text
*#
deep_disfluency/data/raw_data/ptree_word_alignments.tar.gz
deep_disfluency/data/raw_data/ptree_word_alignments/
deep_disfluency/data/raw_data/swda.zip
deep_disfluency/data/raw_data/swda/*
deep_disfluency/data/raw_data/swda_tree_pos_maps/*
deep_disfluency/data/audio/*
deep_disfluency/data/disfluency_detection/feature_matrices/*
credentials.json
build
*.egg-info
dist
