*.DS_Store
*~
*.pyc
*.make
*.out
*.aux
*.fls
*.d
*.bbl
*.blg
*.fdb_latexmk
*.log
*.synctex.gz
*.ipynb_checkpoints
*.class
*.classpath
*.project
*.pydevproject
/deep_disf_detection/data/audio/*
*.prefs
