*.DS_Store
*~
*.pyc
*.make
*.out
*.aux
*.fls
*.d
*.bbl
*.blg
*.fdb_latexmk
*.log
*.synctex.gz
*.ipynb_checkpoints
*.class
*.classpath
*.project
*.pydevproject
*.prefs
*error_log.text
*#
deep_disfluency/data/audio/*
deep_disfluency/data/disfluency_detection/feature_matrices/*
credentials.json

