scipy>=1.0.0
numpy>=1.15.0
pandas>=0.23.0
matplotlib>=3.0.0
ipython>=7.0.0
jupyter>=1.0.0
bleach>=2.1.4
boto3>=1.5.34
botocore>=1.8.48
gensim>=3.3.0
h5py>=2.7.1
scikit-learn>=0.20.0
nltk>=3.4.0
tensorflow>=2.0.0
fluteline>=0.0.3
Cython>=0.29.0
torch>=1.9.0
transformers>=4.20.0
seqeval>=1.2.2